* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}
.app_dropdown {
  padding-top: 16px;
}

.app {
  display: flex;
  justify-content: space-evenly;
}

.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app_header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app_left {
  flex: 75%;
  margin: 16px;
}
.app_right {
  flex: 25%;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app_right {
    flex: 100%;
  }
}
